.trackItem {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trackTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@keyframes load {
  0% {
    background: rgb(49, 49, 49);
  }

  100% {
    background: rgb(139, 139, 139);
  }
}

.skeletonSquare {
  width: 51px;
  height: 51px;
  animation: load 1s linear infinite alternate;
}


.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.skeletonRec {
  width: 356px;
  height: 19px;
  animation: load 1s linear infinite alternate;

}

.skeletonRec2 {
  width: 271px;
  height: 19px;
  animation: load 1s linear infinite alternate;

}

.skeletonRec3 {
  width: 305px;
  height: 19px;
  animation: load 1s linear infinite alternate;

}