.volumeBlock {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 92px 0 0;
}

.volumeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
}

.volumeProgressLine {
  width: 109px;
  appearance: none;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  display: flex;
}


.volumeProgressLine::-webkit-slider-runnable-track {
  position: relative;
  height: 4px;
  background-color: #2e2e2e;
}

.volumeProgressLine::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: #0f0f0f;
  border: 2px solid white;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 50%;
  translate: 0 -50%;
}
